// Gallery - Carousel

section#gallery {
  padding-top: 0px;
  padding-bottom: 0px;

  section.block-views-blockgallery-block-gallery { padding-top: 0px; padding-bottom: 0px; }

  &::before {
    z-index: 2;
    left: 0;
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    background-image: url('../images/separator.jpg');
    background-position: center;
    background-repeat: repeat-x;
  }

  .form-group { margin-bottom: 0px; }

  .jcarousel-wrapper {
    width: 100%;
    height: auto;
    border: none;
    margin-bottom: 0px;

    li {
      position: relative;
      overflow: hidden;
      width: 320px;
      height: auto;
      margin: 0px;
      img { width: 100%; }

      .cont {
        display: block;
        bottom: 40px;
        width: 100%;
        position: absolute;
        text-align: center;
        min-height: 80px;

        .views-field-title span {
          font-size: 13px;
          font-weight: 600;
          color: #fff;
          display: inline-block;
          margin: 0 0 10px 0;
          padding: 3px 7px;
          line-height: 16px;
          pointer-events: auto;
          background-color: #f26522;
          border-radius: 3px;
        }

        .views-field-field-gallery-description h3 {
          color: #fff;
          position: relative;
          width: 85%;
          margin: 0 auto;
        }
      }
    }
  }

  .jcarousel-skin-default .jcarousel-control-prev,
  .jcarousel-skin-default .jcarousel-control-next {
    border-radius: 0px;
    height: 100%;
    top: 0px;
    width: 35px;
    background-color: #bd9346;
  }

  .jcarousel-skin-default .jcarousel-control-prev { left: -34px; }
  .jcarousel-skin-default .jcarousel-control-next { right: -32px; }
}

