/*
 *  BLOCK BENEFIT
*/

.benefit-container {
    background: #f6f6f6;
    text-align: left;
    padding: 80px 0;

  #block-cloudsoftunbouncelandingpage {
    a {
      border-radius: 10px;
      border-style: none;
      color: #fff;
      display: inline-block;
      line-height: 54px;
      text-align: center;
      background: #17c4bb;
      padding: 0 20px;
    }

    h2 {
      font-size: 48px;
      font-size: 4.8rem;
      color: #fff;
      margin-top: 150px;
      text-align: center;
      font-weight: normal;
    }

    .field--label-hidden {
      font-size: 18px;
      font-size: 1.8rem;
      color: #fff;
      margin: 40px 0;
      text-align: center;
    }

    .field--name-field-start-my-demo {
      a {
        width: 220px;
        margin: 5px;
      }
    }

    .field--name-field-watch-video {
      a {
        width: 220px;
        margin: 5px;
        background: none;
        box-shadow: 0 0 0 2px #fff inset;

        &:hover {
          background: none;
          color: #17c4bb;
          box-shadow: 0 0 0 2px #17c4bb inset;
        }
      }
    }
  }
}

