/*
 *  BLOCK CONTACT
*/

.contact-container {
    background: #fff;
    text-align: center;
    padding: 80px 0;

   .view-content .views-row {
      padding: 0 0 0 80px;
      text-align: left;
      margin: 30px 0 0;
    }
}

